img{
    max-width: 100px;
}

.monster-box{
    background-color: red;
    display: flex;
    height: 50%;
    width: 95%;
    border: 5px solid black;
    border-color: black;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2vh;
}